 <%- include('includes/header.ejs') %>
 <%- include('includes/navigation.ejs') %> 
 <main>
     <% if (errorid === '100'){ %>
         <h1>Please enter an number for Price</h1>
     <% }else{ %>
    <h1>Page not Found!</h1>
    <% } %>
</main>
<%- include('includes/footer.ejs') %> 
 